* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 20px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    color: #fff;
}

.sidebar-header h1 {
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-header h1::before {
    content: "\270D"; /* Unicode for ✍️ */
    font-size: 30px;
    margin-right: 1px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.dark-mode-btn {
    background: none;
    border: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dark-mode-btn:hover {
    background-color: #f0f0f0;
}

.new-note-btn {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.new-note-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateX(-1px);
}

.notes-list {
    overflow-y: auto;
}

.note-item {
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.note-item:hover {
    background-color: #e7dddd;
}
.note-item active{
    background-color: #e3f2fd;
}
.node-item h3{
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}
.node-item p{
    font-size: 13px;
    color: #666;
}